*{
    margin: 0;
    padding: 0;
}
#container{
    position: relative;
}
.box{
    padding: 5px;
    float: left;
}
.box-img{
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px #cccccc;
    -moz-box-shadow: 0 0 5px #cccccc;
    box-shadow: 0 0 5px #cccccc;
}
.box-img img{
    width: 150px;
    height: auto;
}